.App {
  text-align: center;
  height: 100vh;
}
.MainRender {
  height: 100vh;
}
.stepsP {
  width: 100%;
}
.databox {
  height: 50%;
  overflow-y: scroll;
}
.table-display {
  height: 460px;
  overflow-y: scroll;
}
